<!DOCTYPE html>

<html>
    <head> 
        <title>
            {% block title %} 
            {% endblock %} 
        </title>   
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body> 
        <nav> 
            <div class="navigation">
                <div class="register_bar"> 
                {% if session %}
                    <a class="url navigation" href="/logout"> LogOut </a>
                {% else %}
                    <a class="url navigation" href="/login"> LogIn </a> <a class="url navigation" href="/"> SignIn </a>
                {% endif %}
                </div>
                <div class="mainpage"> <a class="url navigation" href="/redactor"> <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}"> </a> </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}   
    </body>
</html>